:root{
  --primary-color: #ee1a4f;
  --dark-color: #181616;
  --light-color: #ffffff;
  --danger-color: #f12323;
  --success-color: #6bff3e;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover{
  color: #666;
}

ul{
  list-style: none;
}

.container{
  max-width:  500px;
  margin: auto;
  overflow: hidden;
  width: 5rem;
  height: 2rem;
}

.x-large{
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large{
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.lead{
  font-size: 1.0rem;
}

.small{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: var(--dark-color);
  font-weight: 500;
  text-align: center;
}
.small-log{
  font-size: 1rem;
  color: var(--dark-color);
  font-weight: 500;
  text-align: center;
  margin-right: 11rem;
}
.smaller{
  font-size: 0.85rem;
  color: var(--dark-color);
}
.size-head{
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 700;
}

.text-center{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 450;
}

.text-left{
  text-align:left ;
  font-size: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}


.text-primary{
  color: var(--primary-color);
}

.text-dark{
  color: var(--dark-color);
}

.text-success{
  color: var(--success-color);
}

.text-danger{
  color: var(--danger-color);
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;


}

.bg-primary{
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: left;
  font-size: 0.5rem;
  padding: 0.75rem;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 90vh;
  margin-left: 67vh;
  margin-right: 67vh;
  margin-top: 3.15vh;
  margin-bottom: 3.15vh;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boxx{
  align-items: center;
  min-width: 5rem;
  background-color: #2b2b2b;
  color: var(--light-color);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.teacher{
  background-color: #851e1e;
  color: var(--light-color);
  align-items: center;
}

.signup{
  padding-right: 3rem;
}

.text-bottom{
  text-align:end;
  padding-right: 1.4rem;
  color: var(--dark-color);
}

.backgroundimg{
  background-image: url('../img/Background.gif');
  background-size:cover ;
  background-repeat:no-repeat;
  background-position: center left;
  height:100vh;

}
.background2{
  background-image: url('../img/Background.gif');
  background-size:cover ;
  background-repeat:no-repeat;
  background-position: center left;
  height:fit-content;
}

.backgroundcolor{
  background-color:#ffffff;
  background-repeat: no-repeat;
  background-position: flex-start;
  height: fit-content;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.text{
  color: var(--dark-color);
}
.text-input{
  min-width: 18rem;
  font-size: 1rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.Homepage {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 90vh;
}

.error{
  font-size: 1rem ;
  color: var(--danger-color);
}